table {
    width: 100%;
    background-color: rgb(101, 178, 178);
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    background-color:rgb(101, 178, 178);
  }
  
  td, th {
    width: 25%;
    background-color: azure;

  }

.barra{
  background-color: azure;
}


.nav{
  font-size: 30px;
  margin-left: 520px;
  
}

.background-container {
  height: 20vh; 
  width: 1050;
  background-image: url('https://i.pinimg.com/474x/7a/c0/ce/7ac0ced2bcaba912d9da372e6be150ed.jpg')
}
